profiles {
  standard {
    includeConfig 'conf/biohpc.config'
  }
  biohpc {
    includeConfig 'conf/biohpc.config'
  }
  biohpc_max {
    includeConfig 'conf/biohpc_max.config'
  }
  aws_ondemand {
    includeConfig 'conf/aws.config'
    includeConfig 'conf/ondemand.config'
  }
  aws_spot {
    includeConfig 'conf/aws.config'
    includeConfig 'conf/spot.config'
  }
}

process {
  withName:getBag {
    container = 'bicf/gudmaprbkfilexfer:2.0.1_indev'
  }
  withName:getData {
    container = 'bicf/gudmaprbkfilexfer:2.0.1_indev'
  }
  withName: parseMetadata {
    container = 'gudmaprbk/python3:1.0.0'
  }
  withName: trimData {
    container = 'bicf/trimgalore:1.1'
  }
  withName: getRefInfer {
    container = 'gudmaprbk/deriva1.3:1.0.0'
  }
  withName: downsampleData {
    container = 'bicf/seqtk:2.0.1_indev'
  }
  withName: alignSampleData {
    container = 'bicf/gudmaprbkaligner:2.0.1_indev'
  }
  withName: inferMetadata {
    container = 'bicf/rseqc3.0:2.0.1_indev'
  }
  withName: getRef {
    container = 'gudmaprbk/deriva1.3:1.0.0'
  }
  withName: alignData {
    container = 'bicf/gudmaprbkaligner:2.0.1_indev'
  }
  withName: dedupData {
    container = 'bicf/gudmaprbkdedup:2.0.0'
  }
  withName: countData {
    container = 'bicf/subread2:2.0.0'
  }
  withName: makeBigWig {
    container = 'bicf/deeptools3.3:2.0.1_indev'
  }
  withName: fastqc {
    container = 'bicf/fastqc:2.0.1_indev'
  }
  withName: dataQC {
    container = 'bicf/rseqc3.0:2.0.1_indev'
  }
  withName: aggrQC {
    container = 'bicf/multiqc1.8:2.0.1_indev'
  }
  withName:outputBag {
    container = 'bicf/gudmaprbkfilexfer:2.0.1_indev'
  }
  withName:uploadInputBag {
    container = 'gudmaprbk/deriva1.3:1.0.0'
  }
}

trace {
  enabled = false
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = false
  file = 'timeline.html'
}

report {
  enabled = false
  file = 'report.html'
}

tower {
  accessToken = '3ade8f325d4855434b49aa387421a44c63e3360f'
  enabled = true
}

manifest {
  name = 'gudmap_rbk/rna-seq'
  homePage = 'https://git.biohpc.swmed.edu/gudmap_rbk/rna-seq'
  description = 'This pipeline was created to be a standard mRNA-sequencing analysis pipeline which integrates with the GUDMAP and RBK consortium data-hub.'
  mainScript = 'rna-seq.nf'
  version = 'v1.0.0_indev'
  nextflowVersion = '>=19.09.0'
}
