profiles {
  standard {
    includeConfig 'conf/biohpc.config'
  }
  aws_ondemand {
    includeConfig 'conf/aws_ondemand.config'
  }
  aws_spot {
    includeConfig 'conf/aws_spot.config'
  }
}

process {
  withName:getBag {
    container = 'bicf/gudmaprbkfilexfer:1.3'
  }
  withName:getData {
    container = 'bicf/gudmaprbkfilexfer:1.3'
  }
  withName: parseMetadata {
    container = 'bicf/python3:1.3'
  }
  withName: trimData {
    container = 'bicf/trimgalore:1.1'
  }
  withName: getRefInfer {
    container = 'bicf/awscli:1.1'
  }
  withName: downsampleData {
    container = 'bicf/seqtk:2.0.0'
  }
  withName: alignSampleData {
    container = 'bicf/gudmaprbkaligner:2.0.0'
  }
  withName: inferMetadata {
    container = 'bicf/rseqc3.0:2.0.0'
  }
  withName: getRef {
    container = 'bicf/awscli:1.1'
  }
  withName: alignData {
    container = 'bicf/gudmaprbkaligner:2.0.0'
  }
  withName: dedupData {
    container = 'bicf/gudmaprbkdedup:2.0.0'
  }
  withName: countData {
    container = 'bicf/subread2:2.0.0'
  }
  withName: makeBigWig {
    container = 'bicf/deeptools3.3:2.0.0'
  }
  withName: fastqc {
    container = 'bicf/fastqc:2.0.0'
  }
  withName: dataQC {
    container = 'bicf/rseqc3.0:2.0.0'
  }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}
	
report {
  enabled = true
  file = 'report.html'
}

tower {
  accessToken = '3ade8f325d4855434b49aa387421a44c63e3360f'
  enabled = true
}

manifest {
  homePage = 'https://git.biohpc.swmed.edu/gudmap_rbk/rna-seq'
  description = 'This pipeline was created to be a standard mRNA-sequencing analysis pipeline which integrates with the GUDMAP and RBK consortium data-hub.'
  mainScript = 'rna-seq.nf'
  version = 'v0.0.1_indev'
  nextflowVersion = '>=19.09.0'
}
