params {
  refSource = "datahub"
}

process {
  withName:trackStart {
    cpus = 1
    memory = '1 GB'
  }
  withName:getBag {
    cpus = 1
    memory = '1 GB'
  }
  withName:getData {
    cpus = 16
    memory = '32 GB'
  }
  withName:parseMetadata {
    cpus = 1
    memory = '1 GB'
  }
  withName:getRefERCC {
    cpus = 16
    memory = '32 GB'
  }
  withName:getRef {
    cpus = 16
    memory = '32 GB'
  }
  withName:fastqc {
    cpus = 16
    memory = '32 GB'
  }
  withName:seqwho {
    cpus = 1
    memory = '1 GB'
  }
  withName:trimData {
    cpus = 16
    memory = '32 GB'
  }
  withName:downsampleData {
    cpus = 1
    memory = '1 GB'
  }
  withName:alignSampleDataERCC {
    cpus = 16
    memory = '32 GB'
  }
  withName:alignSampleData {
    cpus = 16
    memory = '32 GB'
  }
  withName:inferMetadata {
    cpus = 16
    memory = '32 GB'
  }
  withName:checkMetadata {
    cpus = 1
    memory = '1 GB'
  }
  withName:alignData {
    cpus = 16
    memory = '32 GB'
  }
  withName:dedupData {
    cpus = 16
    memory = '32 GB'
  }
  withName:countData {
    cpus = 16
    memory = '32 GB'
  }
  withName:makeBigWig {
    cpus = 16
    memory = '32 GB'
  }
  withName:dataQC {
    cpus = 16
    memory = '32 GB'
  }
  withName:aggrQC {
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadInputBag {
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadExecutionRun {
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadQC {
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadProcessedFile {
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadOutputBag {
    cpus = 1
    memory = '1 GB'
  }
  withName:finalizeExecutionRun {
    cpus = 1
    memory = '1 GB'
  }
  withName:failPreExecutionRun {
    cpus = 1
    memory = '1 GB'
  }
  withName:failExecutionRun {
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadQC_fail {
    cpus = 1
    memory = '1 GB'
  }
}

docker {
  enabled = true
}
