params {
  refSource = "datahub"
}

process {
  withName:trackStart {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:getBag {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:getData {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:parseMetadata {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:getRefERCC {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:getRef {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:fastqc {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:seqwho {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:trimData {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:downsampleData {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:alignSampleDataERCC {
    queue = '128GB,256GB,256GBv1,384GB'
  }
  withName:alignSampleData {
    machineType = 'mem3_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:inferMetadata {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:checkMetadata {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:alignData {
    machineType = 'mem3_ssd1_v2_x32'
    cpus = 32
    memory = '256 GB'
  }
  withName:dedupData {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:countData {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:makeBigWig {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:dataQC {
    machineType = 'mem1_ssd1_v2_x16'
    cpus = 16
    memory = '32 GB'
  }
  withName:aggrQC {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadInputBag {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadExecutionRun {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadQC {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadProcessedFile {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadOutputBag {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:finalizeExecutionRun {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:failPreExecutionRun {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:failExecutionRun {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
  withName:uploadQC_fail {
    executor = 'dnanexus'
    cpus = 1
    memory = '1 GB'
  }
}

docker {
  enabled = true
}
