profiles {
  standard {
    includeConfig 'nextflowConf/biohpc.config'
  }
  biohpc {
    includeConfig 'nextflowConf/biohpc.config'
  }
  biohpc_max {
    includeConfig 'nextflowConf/biohpc_max.config'
  }
  aws_ondemand {
    includeConfig 'nextflowConf/aws.config'
    includeConfig 'nextflowConf/ondemand.config'
  }
  aws_spot {
    includeConfig 'nextflowConf/aws.config'
    includeConfig 'nextflowConf/spot.config'
  }
  dnanexus {
    includeConfig 'nextflowConf/dnanexus.config'
  }
}

process {
  withName:getBag {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:getData {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:parseMetadata {
    container = 'gudmaprbk/python3:1.0.0'
  }
  withName:trimData {
    container = 'gudmaprbk/trimgalore0.6.5:1.0.0'
  }
  withName:getRefInfer {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:downsampleData {
    container = 'gudmaprbk/seqtk1.3:1.0.0'
  }
  withName:alignSampleData {
    container = 'gudmaprbk/hisat2.2.1:1.0.0'
  }
  withName:inferMetadata {
    container = 'gudmaprbk/rseqc4.0.0:1.0.0'
  }
  withName:checkMetadata {
    container = 'gudmaprbk/gudmap-rbk_base:1.0.0'
  }
  withName:getRef {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:alignData {
    container = 'gudmaprbk/hisat2.2.1:1.0.0'
  }
  withName:dedupData {
    container = 'gudmaprbk/picard2.23.9:1.0.0'
  }
  withName:countData {
    container = 'gudmaprbk/subread2.0.1:1.0.0'
  }
  withName:makeBigWig {
    container = 'gudmaprbk/deeptools3.5.0:1.0.0'
  }
  withName:fastqc {
    container = 'gudmaprbk/fastqc0.11.9:1.0.0'
  }
  withName:dataQC {
    container = 'gudmaprbk/rseqc4.0.0:1.0.0'
  }
  withName:aggrQC {
    container = 'gudmaprbk/multiqc1.9:1.0.0'
  }
  withName:uploadInputBag {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:uploadExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:uploadQC {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:uploadProcessedFile {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:uploadOutputBag {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:finalizeExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:failPreExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:failExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
  withName:uploadQC_fail {
    container = 'gudmaprbk/deriva1.4:1.0.0'
  }
}

trace {
  enabled = false
  file = 'trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = false
  file = 'timeline.html'
}

report {
  enabled = false
  file = 'report.html'
}

tower {
  accessToken = '3ade8f325d4855434b49aa387421a44c63e3360f'
  enabled = true
}

manifest {
  name = 'gudmap_rbk/rna-seq'
  homePage = 'https://git.biohpc.swmed.edu/gudmap_rbk/rna-seq'
  description = 'This pipeline was created to be a standard mRNA-sequencing analysis pipeline which integrates with the GUDMAP and RBK consortium data-hub.'
  mainScript = 'rna-seq.nf'
  version = 'v2.0.0rc01'
  nextflowVersion = '>=19.09.0'
}
