profiles {
  standard {
    includeConfig 'nextflowConf/biohpc.config'
  }
  biohpc {
    includeConfig 'nextflowConf/biohpc.config'
  }
  biohpc_max {
    includeConfig 'nextflowConf/biohpc_max.config'
  }
  dnanexus {
    includeConfig 'nextflowConf/dnanexus.config'
  }
  aws {
    includeConfig 'nextflowConf/aws.config'
  }
}

process {
  withName:trackStart {
    container = 'gudmaprbk/gudmap-rbk_base:1.0.1'
  }
  withName:getBag {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:getData {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:parseMetadata {
    container = 'gudmaprbk/python3:1.0.1'
  }
  withName:getRefERCC {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:getRef {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:fastqc {
    container = 'gudmaprbk/fastqc0.11.9:1.0.1'
  }
  withName:seqwho {
    container = 'gudmaprbk/seqwho1.0.0:1.0.0'
  }
  withName:trimData {
    container = 'gudmaprbk/trimgalore0.6.6:1.0.0'
  }
  withName:downsampleData {
    container = 'gudmaprbk/seqtk1.3:1.0.1'
  }
  withName:alignSampleDataERCC {
    container = 'gudmaprbk/hisat2.2.1:1.0.1'
  }
  withName:alignSampleData {
    container = 'gudmaprbk/hisat2.2.1:1.0.1'
  }
  withName:inferMetadata {
    container = 'gudmaprbk/rseqc4.0.0:1.0.1'
  }
  withName:checkMetadata {
    container = 'gudmaprbk/gudmap-rbk_base:1.0.1'
  }
  withName:alignData {
    container = 'gudmaprbk/hisat2.2.1:1.0.1'
  }
  withName:dedupData {
    container = 'gudmaprbk/picard2.25.0:1.0.0'
  }
  withName:countData {
    container = 'gudmaprbk/subread2.0.1:1.0.1'
  }
  withName:makeBigWig {
    container = 'gudmaprbk/deeptools3.5.0:1.0.1'
  }
  withName:dataQC {
    container = 'gudmaprbk/rseqc4.0.0:1.0.1'
  }
  withName:aggrQC {
    container = 'gudmaprbk/multiqc1.10:1.0.0'
  }
  withName:uploadInputBag {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:uploadExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:uploadQC {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:uploadProcessedFile {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:uploadOutputBag {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:finalizeExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:failPreExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:failPreExecutionRun_seqwho {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:failExecutionRun {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
  withName:uploadQC_fail {
    container = 'gudmaprbk/deriva1.4:1.0.1'
  }
}

tower {
  accessToken = 'eyJ0aWQiOiAzODI1fS5kYjllMDk1NWRjNzExYTg3MzFlZjdlZThlMWM5YTg1ZmUxYjY1ZDNl'
  enabled = true
}

manifest {
  name = 'gudmap_rbk/rna-seq'
  homePage = 'https://git.biohpc.swmed.edu/gudmap_rbk/rna-seq'
  description = 'This pipeline was created to be a standard mRNA-sequencing analysis pipeline which integrates with the GUDMAP and RBK consortium data-hub.'
  mainScript = 'rna-seq.nf'
  version = 'v2.0.0'
  nextflowVersion = '>=20.01.0'
}
