params {
  refSource = "biohpc"
}

process {
  executor = 'slurm'
  queue = 'super'
  clusterOptions = '--hold'
  time = '4h'
  errorStrategy = 'retry'
  maxRetries = 1

  withName:trackStart {
    executor = 'local'
  }
  withName:getBag {
    executor = 'local'
  }
  withName:getData {
    queue = 'super'
  }
  withName:parseMetadata {
    executor = 'local'
  }
  withName:trimData {
    queue = 'super'
  }
  withName:getRefInfer {
    queue = 'super'
  }
  withName:downsampleData {
    executor = 'local'
  }
  withName:alignSampleData {
    queue = '128GB,256GB,256GBv1,384GB'
  }
  withName:inferMetadata {
    queue = 'super'
  }
  withName:checkMetadata {
    executor = 'local'
  }
  withName:getRef {
    queue = 'super'
  }
  withName:alignData {
    queue = '256GB,256GBv1'
  }
  withName:dedupData {
    queue = 'super'
  }
  withName:countData {
    queue = 'super'
  }
  withName:makeBigWig {
    queue = 'super'
  }
  withName:fastqc {
    queue = 'super'
  }
  withName:dataQC {
    queue = 'super'
  }
  withName:aggrQC {
    executor = 'local'
  }
  withName:uploadInputBag {
    executor = 'local'
  }
  withName:uploadExecutionRun {
    executor = 'local'
  }
  withName:uploadQC {
    executor = 'local'
  }
  withName:uploadProcessedFile {
    executor = 'local'
  }
  withName:uploadOutputBag {
    executor = 'local'
  }
  withName:finalizeExecutionRun {
    executor = 'local'
  }
  withName:failPreExecutionRun {
    executor = 'local'
  }
  withName:failExecutionRun {
    executor = 'local'
  }
  withName:uploadQC_fail {
    executor = 'local'
  }
}

singularity {
  enabled = true
  cacheDir = '/project/BICF/BICF_Core/shared/gudmap/singularity_cache/'
}

env {
  http_proxy = 'http://proxy.swmed.edu:3128'
  https_proxy = 'http://proxy.swmed.edu:3128'
  all_proxy = 'http://proxy.swmed.edu:3128'
}
