params {
  refSource = "datahub"
}

process {
  withName:trackStart {
    executor = 'local'
  }
  withName:getBag {
    executor = 'local'
  }
  withName:getData {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:parseMetadata {
    executor = 'local'
  }
  withName:trimData {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:getRefInfer {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:downsampleData {
    executor = 'local'
  }
  withName:alignSampleData {
    machineType = 'mem3_ssd1_v2_x16'
  }
  withName:inferMetadata {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:checkMetadata {
    executor = 'local'
  }
  withName:getRef {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:alignData {
    queue = '256GB,256GBv1'
  }
  withName:dedupData {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:countData {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:makeBigWig {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:fastqc {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:dataQC {
    machineType = 'mem1_ssd1_v2_x16'
  }
  withName:aggrQC {
    executor = 'local'
  }
  withName:uploadInputBag {
    executor = 'local'
  }
  withName:uploadExecutionRun {
    executor = 'local'
  }
  withName:uploadQC {
    executor = 'local'
  }
  withName:uploadProcessedFile {
    executor = 'local'
  }
  withName:uploadOutputBag {
    executor = 'local'
  }
  withName:finalizeExecutionRun {
    executor = 'local'
  }
  withName:failPreExecutionRun {
    executor = 'local'
  }
  withName:failExecutionRun {
    executor = 'local'
  }
  withName:uploadQC_fail {
    executor = 'local'
  }
}

docker {
  enabled = true
}
