workDir = 's3://gudmap.rbk/work'
aws.client.storageEncryption = 'AES256'
aws {
  region = 'us-east-2'
  batch {
    cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}

process {
  executor = 'awsbatch'
  queue = 'highpriority-3278a8b0-1fc8-11ea-b1ac-021e2396e2cc'
  cpus = 1
  memory = '1 GB'

  withName:trimData {
    cpus = 15
  }
}