workDir = 's3://gudmap.rbk/work'
aws.client.storageEncryption = 'AES256'
aws {
  region = 'us-east-2'
  batch {
    cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}

process {
  executor = 'awsbatch'
  queue = 'default-3278a8b0-1fc8-11ea-b1ac-021e2396e2cc'
  cpus = 1
  memory = '2 GB'

  withName:parseMetadata {
    cpus = 5
  }
  withName:getRef {
    cpus = 8
  }
  withName:trimData {
    cpus = 8
    memory = '2 GB'
  }
  withName:alignData {
    cpus = 50
    memory = '5 GB'
  }
  withName:dedupData {
    cpus = 2
    memory = '20 GB'
  }
  withName:fastq  {
    memory = '5 GB'
  }
}
