process {
  executor = 'slurm'
  queue = 'super'

  // Process specific configuration
  withName:getData {
    container = 'docker://bicf/bdbag:1.0'
  }
}


trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}

tower {
  accessToken = '3ade8f325d4855434b49aa387421a44c63e3360f'
  enabled = true
}

singularity {
  enabled = true
  cacheDir = '/project/shared/bicf_workflow_ref/singularity_images/'
}

env {
  http_proxy = "http://proxy.swmed.edu:3128"
  https_proxy = "http://proxy.swmed.edu:3128"
  HTTP_PROXY = "http://proxy.swmed.edu:3128"
  HTTPS_PROXY = "http://proxy.swmed.edu:3128"
  all_proxy = "http://proxy.swmed.edu:3128"
  ALL_PROXY = "http://proxy.swmed.edu:3128"
}

