process {
  executor = 'slurm'
  queue = 'super'
  clusterOptions = '--hold'

  withName:getBag {
    executor = 'local'
  }
  withName:getData {
    executor = 'local'
  }
  withName:parseMetadata {
    executor = 'local'
  }
  withName:getRef {
    executor = 'local'
  }
  withName:trimData {
    queue = 'super'
  }
  withName:downsampleData {
    executor = 'local'
  }
  withName:alignData {
    queue = '256GB,256GBv1'
  }
  withName: dedupData {
    queue = 'super'
  }
  withName:fastqc {
    queue = 'super'
  }
  withName:inferMetadata {
    queue = 'super'
  }
  withName: makeBigWig {
    queue = 'super'
  }
}

singularity {
  enabled = true
  cacheDir = '/project/shared/bicf_workflow_ref/singularity_images/'
}

env {
  http_proxy = 'http://proxy.swmed.edu:3128'
  https_proxy = 'http://proxy.swmed.edu:3128'
  all_proxy = 'http://proxy.swmed.edu:3128'
}
